## Análisis de publicaciones de ofertas laborales en Linkedin.

### Desarrolle el notebook incorporando los siguientes puntos.

Presentación en clase del 14/12/2023.

Link de referencia: https://www.kaggle.com/datasets/arshkon/linkedin-job-postings

Se debe desarrollar:
- Descripción de los datos, incorporando breve descripción y si corresponde a una variable cuantitativa (ej: 1.5, 2.3, 10) o cualitativa (ej: 1, 3, A, Rojo).
- Planteamiento de al menos 5 (nota 6 max) preguntas de interés a desarrollar.
- Desarrollo al menos 4 (nota 6 max) tipos de gráficos distintos.
- Construcción de nuevas variables en **caso de ser necesario**.
- Desarrollo e interpretación de los gráficos en base a las preguntas de interés.
- Los gráficos deben contener las leyendas y títulos correspondientes.
- Paleta de colores definida y ser consistentes en los colores.
-   Metrica Clicks - Linea Naranja
    Metas Clicks - Linea Gris 
    Metrica Ventas - Linea Naranja -> Verde
    Metas Ventas - Linea Gris 
- Se deben agregar comentarios en la configuración de los gráficos.

In [25]:
import pandas as pd

url = 'https://drive.google.com/file/d/1Peh8b1MF0cp2ua3ir52ZxkHdW8Ft0aBD/view?usp=drive_link'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
#print(path)

df = pd.read_csv(path, sep=';', header=0, compression='zip')
df.tail(10)

https://drive.google.com/uc?export=download&id=1Peh8b1MF0cp2ua3ir52ZxkHdW8Ft0aBD

,job_id,company_id,title,min_salary,pay_period,formatted_work_type,location,applies,remote_allowed,views,formatted_experience_level,sponsored,company_size,industry,employee_count,follower_count
3756,3701373180,79098.0,Senior Systems Engineer,75000.00,YEARLY,Contract,"St Louis, MO",1.0,0.0,63.0,Mid-Senior level,0,5.0,Staffing & Recruiting,184.0,38733.0
3757,3701373187,79098.0,Senior IT Project Manager,110000.00,YEARLY,Contract,"St Louis, MO",0.0,0.0,38.0,Mid-Senior level,0,5.0,Staffing & Recruiting,184.0,38733.0
3758,3701373279,2701.0,Insurance Defense Attorney,70800.00,YEARLY,Full-time,"Fort Lauderdale, FL",1.0,0.0,13.0,Mid-Senior level,0,7.0,Insurance,41040.0,426740.0
3759,3701373292,2701.0,Insurance Defense Attorney,70800.00,YEARLY,Full-time,"West Palm Beach, FL",0.0,0.0,3.0,Mid-Senior level,0,7.0,Insurance,41040.0,426740.0
3760,3701373317,15259054.0,Equipment Maintenance Technician- Automotive P...,20.00,HOURLY,Full-time,"Dayton, OH",0.0,0.0,6.0,Mid-Senior level,0,2.0,Human Resources,45.0,30668.0
3761,3701373383,13651.0,Senior Analyst,75000.00,YEARLY,Full-time,"New York, NY",14.0,0.0,79.0,Mid-Senior level,0,4.0,Financial Services,915.0,28507.0
3762,3701373385,18312164.0,Sales Manager,60000.00,YEARLY,Full-time,"Texas, United States",7.0,1.0,56.0,Mid-Senior level,0,2.0,Computer Software,184.0,34699.0
3763,3701373427,1321042.0,Design Intern,19.08,HOURLY,Internship,"Miramar, FL",2.0,0.0,20.0,Mid-Senior level,0,5.0,Construction,504.0,18157.0
3764,3701373493,5619.0,Sr. Bilingual Copywriter (Canadian French),91900.00,YEARLY,Full-time,"Torrance, CA",4.0,0.0,29.0,Mid-Senior level,0,7.0,"Health, Wellness & Fitness",13650.0,321989.0
3765,3701373524,2623.0,MRI Manager,110000.00,YEARLY,Full-time,"New York, NY",0.0,0.0,10.0,Mid-Senior level,0,7.0,Hospital & Health Care,6769.0,58204.0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3766 entries, 0 to 3765
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      3766 non-null   int64
 1   company_id                  3766 non-null   float64
 2   title                       3766 non-null   object
 3   min_salary                  3766 non-null   float64
 4   pay_period                  3766 non-null   object
 5   formatted_work_type         3766 non-null   object
 6   location                    3766 non-null   object
 7   applies                     3766 non-null   float64
 8   remote_allowed              3766 non-null   float64
 9   views                       3766 non-null   float64
 10  formatted_experience_level  3766 non-null   object
 11  sponsored                   3766 non-null   int64
 12  company_size                3766 non-null   float64
 13  industry                    3766 non-null   object
 14  employee_count              3766 non-null   float64
 15  follower_count              3766 non-null   float64
dtypes: float64(8), int64(2), object(6)
memory usage: 470.9+ KB